<template name="talks">
  <table>
    <tr>
      <th scope="col">Hall</th>
      <th scope="col">Day</th>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Watch</th>
      <th scope="col">Description</th>
    </tr>
  {{#each talk}}
    <tr>
      <td>{{room}}</td>
      <td>{{day}}</td>
      <td>
        <a name="{{id}}" href="https://events.ccc.de/congress/{{year}}/Fahrplan/events/{{id}}.html">
          {{id}}</a></td>
      <td>{{title}}</td>
      <td><a href="https://media.ccc.de/v/{{slug}}#video">watch</a></td>
      <td>
        <a href="#toggle_description" name="toggle_description">more</a>
        <p id="desc_{{id}}" style="display:none">{{description}}</p>
      </td>
    </tr>
  {{/each}}
  <!--
  correct:
  http://cdn.media.ccc.de/congress/2015/webm-hd/32c3-7510-en-de-Windows_drivers_attack_surface_webm-hd.webm
  $domain/congress/$year/$format/$c3-$id-$lang-$title_$format.$format-spec
  wrong:
  http://cdn.media.ccc.de/congress/2015/webm-hd/32c3-7510-windows_drivers_attack_surface_webm-hd.webm
-->
</table>
</template>
